body {
	color: #FFFFFF;
	background: #999999;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#interactivecards {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
	z-index: -1;
}
#c {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: none;
	cursor: grab;
}
div {
	padding-top: 15vh;
}
a:link, a:visited {
	z-index: 10;
	margin-bottom: 10vh;
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

a:hover, a:active {
  color: #22b2d7;
}